---
//First I wrote .pages.yml, then I wrote config.ts in a way that matched it
//here, I import the collection I created in the tsconfig.json

import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';

const publishedPosts = await (async () => {
  const blogPosts = await getCollection("content/posts");
  return blogPosts.filter((post) => !post.data.draft);
})();

---

<Layout>
  <h1>Blog Posts</h1>
  <ul>
    {publishedPosts.map((post) => (
      <li key={post.id}>
        <a href={`/${post.slug ?? post.id}`}>
          <h2>{post.data.title}</h2>
        </a>
        <p>{post.data.pubDatetime}</p>
        <p>{post.data.description}</p>
      </li>
    ))}
  </ul>
</Layout>
